
.txt-color-blueDark {
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    color: #4c4f53;
    font-size: 24px;
    font-weight: 300;
}
.page-title {
    margin: 12px 0 28px;
}
h2 {
    font-size: 15px;
    font-weight: 700;
}
#timeInHour, #timeInMin {
    width: 50px;
}
input {
    width: 100%;
}
.padding-10 {
    padding: 10px;
    border-color: gray;
}
select{
    background: #fff;
    width: 150px;
    height: 30px;
    height: 30px;
    line-height: 15px;
    font-size: 12px;
}
select:hover{
    border-width: 1px;
    border-color: #5D98CC;
    outline: none;
}
select:focus{
    outline: none;
}